[Desktop Entry]
Name=Venera-D
GenericName=Venera-D
Comment=Venera-D
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;
Icon=venera